	
    
      <!--================================== MOBILE-RECENT_POPULAR ========================-->
      <section class="swipper-in-mobile d-lg-none">
        <div class="container-fluid">
        <div class="section-header">
            <h3 class="">
    محصولات پر بازدید اخیر
            </h3>
            <p class=" border-bottom:1px red solid">بر اساس بازدیدهای شما </p>
        </div>

        <div class="row swipper-items-container ">
            <!-- equipment-item1 -->
            <div class="col  px-1">
                <a href="#" class="border-shadow ">
                    <div class=" swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                        <img src="assets/assets/images/safari.jpg"class=" align-self-center img-fluid" alt="">
                                
                        <p class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </p>
                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--  equipment-item2-->
            <div class="col  px-1">
                <a href="#" class="border-shadow">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                        <img src="assets/assets/images/safari4.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item3 -->
            <div class="col  px-1">
                <a href="#" class="border-shadow ">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16  ">
                        <img src="assets/assets/images/safari3.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item4 -->
        <div class="col  px-1">
            <a href="#" class="border-shadow  ">
                <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                <img src="assets/assets/images/safari2.jpg"
                            class=" align-self-center img-fluid" alt="">
                    <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                        10.4
                        SM-T505 ظرفیت 32
                        گیگابایت
                    </div>

                    <div class="price d-flex flex-column justify-content-around ">
                        <div class="price-off align-self-end ">
                            <del>۵۵۰,۵۰۰</del>
                            <span>٪۷</span>
                        </div>
                        <div class="price-actual align-self-end">
                            <span class="price">۵۹۰,۵۰۰</span>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
            <!-- equipment-item5 -->
        <div class="col  px-1">
            <a href="#" class="border-shadow ">
                <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16  ">
                <img src="assets/assets/images/safari3.jpg"
                            class=" align-self-center img-fluid" alt="">
                    <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                        10.4
                        SM-T505 ظرفیت 32
                        گیگابایت
                    </div>

                    <div class="price d-flex flex-column justify-content-around ">
                        <div class="price-off align-self-end ">
                            <del>۵۵۰,۵۰۰</del>
                            <span>٪۷</span>
                        </div>
                        <div class="price-actual align-self-end">
                            <span class="price">۵۹۰,۵۰۰</span>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
            <!--  equipment-item6-->
            <div class="col  px-1">
                <a href="#" class="border-shadow ">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                    <img src="assets/assets/images/safari4.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item7 -->
            <div class="col  px-1">
                <a href="#" class="border-shadow">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16">
                        <img src="assets/assets/images/safari4.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div  class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item8 -->
        <div class="col  px-1">
            <a href="#" class="border-shadow">
                <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16">
                    <img src="assets/assets/images/safari4.jpg"
                            class=" align-self-center img-fluid" alt="">
                    <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                        10.4
                        SM-T505 ظرفیت 32
                        گیگابایت
                    </div>

                    <div class="price d-flex flex-column justify-content-around ">
                        <div class="price-off align-self-end ">
                            <del>۵۵۰,۵۰۰</del>
                            <span>٪۷</span>
                        </div>
                        <div class="price-actual align-self-end">
                            <span class="price">۵۹۰,۵۰۰</span>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </div>
    </section>
<!-- ===================== LARGE_DEVICE-RECENT_POPULAR ============================ -->
<section class="container-fluid p-2 d-none d-lg-block">
 
        <div class=" Travel-equipment bg-white  rounded-10 ">

            <div class="px-4 pt-3">
                <p class="equip">
                    محصولات پر بازدید اخیر
                </p>
                <div class="base-visit ">بر اساس بازدیدهای شما </div>
                <div class="row horizontal-line p-1 d-flex flex-row justify-content-center align-items-center">
                    <div class="col-2">
                        <hr style=" color:#fd525d; opacity:1;">
                    </div>
                    <div class="col-10">
                        <hr style=" color:#dfdfdf; opacity:1;">
                    </div>
                </div>

            </div>
            <div id="carouselExampleInterval2" class="carousel slide position-relative "
            data-bs-ride="carousel">
            <div class="carousel-inner px-2">
                <!-- slide-1 -->
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row  row-commodity d-flex flex-row ">

                        <!-- 1 -->
                        <div class="col-3 commodity bg-transparent  py-4">
                            <a href="#" class="pb-3  ">
                                <div class=" d-flex flex-column border-0  ">
                                    <div class="commo-pic align-self-center"><img src="assets/images/laptop/laptop (1).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت</div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2 ">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۷</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۵۹۰,۵۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 2 -->
                        <div class="col-3 commodity bg-transparent  py-4 ">
                            <a href="#" class="pb-3">
                                <div class=" d-flex flex-column border-0    ">
                                    <div class="commo-pic align-self-center"><img src="assets/images/laptop/laptop (2).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت
                                    </div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۱۰</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۵۹۰,۵۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 3 -->
                        <div class="col-3 commodity bg-transparent  py-4">
                            <a href="#" class="pb-3">
                                <div class=" d-flex flex-column border-0  ">
                                    <div class="commo-pic align-self-center"><img src="assets/images/laptop/laptop (4).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت
                                    </div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۱۰</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۵۹۰,۵۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 4 -->
                        <div class="col-3 commodity bg-transparent  py-4">
                            <a href="#" class="pb-3">
                                <div class=" d-flex flex-column border-0  ">
                                    <div class="commo-pic align-self-center "><img src="assets/images/laptop/laptop (3).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت
                                    </div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۷</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۱۹,۰۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- carousel item-->
                <!-- slide-2 -->
                <div class="carousel-item">
                    <div class="row  row-commodity d-flex flex-row ">
                        <!-- 1 -->
                        <div class="col-3 commodity bg-transparent  py-4">
                            <a href="#" class="pb-3  ">
                                <div class=" d-flex flex-column border-0  ">
                                    <div class="commo-pic align-self-center"><img src="assets/images/laptop/laptop (5).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت</div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2 ">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۷</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۵۹۰,۵۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 2 -->
                        <div class="col-3 commodity bg-transparent  py-4 ">
                            <a href="#" class="pb-3">
                                <div class=" d-flex flex-column border-0    ">
                                    <div class="commo-pic align-self-center"><img src="assets/images/laptop/laptop (6).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت
                                    </div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۱۰</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۵۹۰,۵۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 3 -->
                        <div class="col-3 commodity bg-transparent  py-4">
                            <a href="#" class="pb-3">
                                <div class=" d-flex flex-column border-0  ">
                                    <div class="commo-pic align-self-center"><img src="assets/images/laptop/laptop (7).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت
                                    </div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۱۰</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۵۹۰,۵۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- 4 -->
                        <div class="col-3 commodity bg-transparent  py-4">
                            <a href="#" class="pb-3">
                                <div class=" d-flex flex-column border-0  ">
                                    <div class="commo-pic align-self-center "><img src="assets/images/laptop/laptop (8).jpg"
                                            class=" pic-size-in-div img-fluid" alt=""></div>
                                    <div class="describe align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                                        10.4
                                        SM-T505 ظرفیت 32
                                        گیگابایت
                                    </div>

                                    <div class="equip-price-off align-self-end mt-2 ms-2">
                                        <del>۵۵۰,۵۰۰</del>
                                        <span>٪۷</span>
                                    </div>
                                    <div class="equip-price-actual align-self-end ms-2">
                                        <span>۱۹,۰۰۰</span>
                                        <span class="equip-font-toman"> <small> تومان</small></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- carousel item-->
            </div>
            <!--carousel inner -->
            <button class=" carousel-control carousel-control-prev " type="button"
            data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
            <span>   <i class="fas fa-chevron-right"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control carousel-control-next" type="button"
            data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
            <span>   <i class="fas fa-chevron-left"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div> <!-- carousel -->
        </div>
    <!-- </div> -->
</section>
