<!-- ==================================    NAVIGATION BAR    ==============================================================-->
<nav class="nav-bar bg-white">
    <div class="container-fluid ">
        <div class="row  g-0 d-flex flex-row justify-content-between align-items-center">
            <div class="col-9 nav-items">
                <ul class="d-flex ">
                    <li class=" grouped ">
                        <a href="#">
                            <!-- <i class=" fa fa-reorder ps-1"></i> -->
                            <img src="assets/images/nav icons/grouped.png" class="p-1" alt="">
                            دسته‌بندی کالاها
                        </a>
                    </li>
                    <li class="super-market-li "><a href="#">
                            <!-- <i class=" fa fa-reorder ps-1"></i> -->
                            <img src="assets/images/nav icons/super.png" alt="">
                            سوپر مارکت
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-percent ps-1"></i> -->
                            <img src="assets/images/nav icons/offs.png" alt="">
                            تخفیف‌ها و پیشنهادها
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fas fa-award ps-1"></i> -->
                            <img src="assets/images/nav icons/mydiji.png" alt="">
                            دیجی کالای من
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fas fa-bullhorn  ps-1" style="color: rgb(184, 47, 161);"></i> -->
                            <img src="assets/images/nav icons/dijiplus.png" alt="">
                            دیجی پلاس
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fas fa-globe  ps-1"></i> -->
                            <img src="assets/images/nav icons/club.png" alt="">
                            دیجی کلاب
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-paypal ps-1 " style="color: blue;"></i> -->
                            <img src="assets/images/nav icons/pay.png" alt="">
                            دیجی
                            پی
                        </a>
                    </li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-question-circle ps-1"></i> -->
                            سوالی دارید؟
                        </a></li>
                    <li class=""><a href="#">
                            <!-- <i class=" fa fa-handshake-o ps-1"></i> -->
                            فروشنده شوید
                        </a></li>
                </ul>
            </div>
            <div class="location col-3">
                <a href="" class="d-flex flex-row  align-items-center justify-content-end ">
                    <span class=" ">لطفا شهر و استان خود را انتخاب کنید</span>
                    <img src="assets/images/location.png" class="px-2 pb-2" alt="location-icon"></a>
            </div>
        </div>
    </div>
</nav>