	<!-- =========================MORE_CATEGORY_SECTION=========================== -->
    <!-- ========================================================================= -->
    <section class="more-category-section  px-3">
        <div class=" more-category d-flex flex-column rounded-10 p-4 bg-white">
            <div class=" align-self-center p-3">
                <div class="more-category__title"> بیش از ۶،۰۰۰،۰۰۰ کالا در دسته&zwnj;بندی&zwnj;های مختلف </div>
            </div>
            <div class=" row more-category__icons  d-flex flex-row  ">
                <!-- 1 -->
                <div class=" more-category__icons-item  col me-3  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img  "><img src="assets/images/icons/1.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-4"> کالای دیجیتال</div>
                        <div class="more-category__icon-number "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 2 -->
                <div class="more-category__icons-item  col ">
                    <a href="" class=" d-flex flex-column align-items-center">
                        <div class="more-category__icon-img  "><img src="assets/images/icons/2.png" alt=""></div>
                        <div class="more-category__icon-name  mt-2 mb-2 "> خودرو، ابزار و
                            تجهیزات
                            صنعتی</div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 3 -->
                <div class="more-category__icons-item  col  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img "><img src="assets/images/icons/3.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-4"> مد و پوشاک</div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 4 -->
                <div class="more-category__icons-item  col  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img  "><img src="assets/images/icons/4.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-2"> اسباب بازی، کودک و
                            نوزاد
                        </div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 5 -->
                <div class="more-category__icons-item  col  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img  "><img src="assets/images/icons/5.png" alt=""></div>
                        <div class="more-category__icon-name  mt-2 mb-4"> کالاهای سوپرمارکتی
                        </div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 6-->
                <div class="more-category__icons-item  col  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img "><img src="assets/images/icons/6.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-4"> زیبایی و سلامت</div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 7 -->
                <div class="more-category__icons-item  col  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img "><img src="assets/images/icons/7.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-4"> خانه و آشپزخانه
                        </div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 8 -->
                <div class="more-category__icons-item  col  ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img "><img src="assets/images/icons/8.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-2"> کتاب، لوازم تحریر و
                            هنر
                        </div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 9 -->
                <div class="more-category__icons-item col ">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img "><img src="assets/images/icons/9.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-4"> ورزش و سفر</div>
                        <div class="more-category__icon-number "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>
                <!-- 10 -->
                <div class="more-category__icons-item col">
                    <a href="" class="d-flex flex-column align-items-center">
                        <div class="more-category__icon-img  "><img src="assets/images/icons/10.png" alt=""></div>
                        <div class="more-category__icon-name   mt-2 mb-2"> محصولات بومی و محلی
                        </div>
                        <div class="more-category__icon-number  "> ۱۰۸۰۰۰۰ کالا</div>
                    </a>
                </div>

            </div>
        </div>
    </section>