	<!-- =========================== four-advertise======================= -->
    <aside class="ads-off p-3">
        <div class="row  d-flex flex-row justify-content-center align-items-center">
            <div class="col-lg-3 col-6 mb-2 "><a href=""><img src="assets/images/off1.jpg"
                        class="img-fluid rounded-16" alt="پرسیل"></a></div>
            <div class="col-lg-3 col-6 mb-2 "><a href=""><img src="assets/images/off2.jpg"
                        class="img-fluid rounded-16" alt="ایزی دو"></a></div>
            <div class="col-lg-3 col-6 mb-2"><a href=""><img src="assets/images/off3.jpg"
                        class="img-fluid  rounded-16" alt="زیور آلات"></a></div>
            <div class="col-lg-3 col-6 mb-2"><a href=""><img src="assets/images/off4.jpg"
                        class="img-fluid rounded-16" alt="کوپا"></a></div>
        </div>
    </aside>