<!--=====================================    ARTICLE_GIF_BANNER    ================================================================-->
<article class="gif-banner ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12  d-flex justify-content-center align-items-center">
                <a href="#" class="">
                    <img src="assets/images/banner-gif.gif" class="img-fluid rounded-16 m-0" alt="ads-banner">
                </a>
            </div>
        </div>
    </div>
</article>