/* ================================================================ */
/*                        ARTICLE_SLIDER_ADS                      */
/* ================================================================ */
.article-carousel {
    padding-top: 15px;
  }
  
  .article-carousel .carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 6px;
  }
  
  .article-carousel .carousel .carousel-inner .carousel-item a img {
    width: 100%;
  }