  <!-- /* ================================================================ */
 /*                        ARTICLE_SLIDER_ADS                        */
/* ================================================================ */ -->
<article class="article-carousel ">

    <div class="container-fluid">
        <div class="row g-3 d-flex flex-lg-row ">

            <div class=" col-lg-8  ">
                <!-- Carousel -->
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0"
                            class="active"></button>
                        <button type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide-to="3"></button>
                    </div>
                    <div class="carousel-inner">
                        <!-- carousel-item-1 -->
                        <div class="carousel-item active">
                            <div class="right-side">
                                <a>
                                    <img src="assets/images/article-carousel/pic (92).jpg"
                                        class=" rounded-16 img-fluid" alt="ads-banner">
                                </a>
                            </div>
                        </div>
                        <!-- carousel-item-2 -->
                        <div class="carousel-item ">
                            <div class="right-side">
                                <a>
                                    <img src="assets/images/article-carousel/picture (53).jpg"
                                        class=" rounded-16 img-fluid" alt="ads-banner">
                                </a>
                            </div>
                        </div>
                        <!-- carousel-item-3 -->
                        <div class="carousel-item ">
                            <div class="right-side">
                                <a>
                                    <img src="assets/images/article-carousel/specialSaleBanner.gif"
                                        class=" rounded-16 img-fluid" alt="ads-banner">
                                </a>
                            </div>
                        </div>
                        <!-- carousel-item-4 -->
                        <div class="carousel-item ">
                            <div class="right-side">
                                <a>
                                    <img src="assets/images/article-carousel/picture (53).jpg"
                                        class=" rounded-16 img-fluid" alt="ads-banner">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>

            <div class=" col-lg-4  d-none d-lg-flex">
                <div class="left-side d-flex flex-sm-row flex-row flex-md-column ">
                    <a>
                        <img src="assets/images/a1.jpg" class="rounded-16 img-fluid" alt="ads-banner">
                    </a>
                    <a>
                        <img src="assets/images/a2.jpg" class="rounded-16 img-fluid  mt-2" alt="ads-banner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>