<aside class="personalize d-flex flex-column mt-2 align-items-center position-relative bg-white border border-2 rounded-10">
<div class="personalize__img img-fluid mt-4"><img src="assets/images/icons/11.png" class="p-4"
        alt=""></div>
<div class="personalize__offers mt-3">
    <h3 class="p-3">شخصی‌سازی پیشنهادها!</h3>
</div>
<div class="personalize__login-txt">
    <p>برای مشاهده پیشنهادهای مناسب خود و همچنین داشتن تجربه بهتر لطفا وارد حساب کاربری
        شوید.</p>
</div>
<div class="personalize__login-btn "><a class="btn mt-3 mx-auto" href=""><img
            src="assets/images/icons/login.png" alt=""> ورود به حساب دیجی کالا</a></div>
<div class="personalize__signup mt-2"><a href="#">ثبت‌نام رایگان در صورت نداشتن حساب
        کاربری</a></div>
</aside>