
      <!--================================== MOBILE-auction-discount ========================-->
      <section class="swipper-in-mobile d-lg-none">
        <div class="container-fluid">
        <div class="section-header">
            <h3 class="">
                منتخب محصولات تخفیف و حراج
            </h3>
            <p class=" border-bottom:1px red solid">بر اساس بازدیدهای شما </p>
        </div>

        <div class="row swipper-items-container ">
            <!-- equipment-item1 -->
            <div class="col  px-1">
                <a href="#" class="border-shadow ">
                    <div class=" swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                        <img src="assets/assets/images/safari.jpg"class=" align-self-center img-fluid" alt="">
                                
                        <p class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </p>
                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="similar-commodity w-100 px-2 align-self-center">
                            <hr class="similar-commodity__hr">
                        </div>

                        <div
                            class=" similar-commodity__text  align-self-center  ">
                            کالاهای مشابه
                            <i class="fas fa-chevron-left p-2  "></i>
                        </div>
                    </div>
                </a>
            </div>
            <!--  equipment-item2-->
            <div class="col  px-1">
                <a href="#" class="border-shadow">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                        <img src="assets/assets/images/safari4.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item3 -->
            <div class="col  px-1">
                <a href="#" class="border-shadow ">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16  ">
                        <img src="assets/assets/images/safari3.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="similar-commodity w-100 px-2 align-self-center">
                            <hr class="similar-commodity__hr">
                        </div>

                        <div
                            class=" similar-commodity__text  align-self-center  ">
                            کالاهای مشابه
                            <i class="fas fa-chevron-left p-2  "></i>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item4 -->
        <div class="col  px-1">
            <a href="#" class="border-shadow  ">
                <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                <img src="assets/assets/images/safari2.jpg"
                            class=" align-self-center img-fluid" alt="">
                    <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                        10.4
                        SM-T505 ظرفیت 32
                        گیگابایت
                    </div>

                    <div class="price d-flex flex-column justify-content-around ">
                        <div class="price-off align-self-end ">
                            <del>۵۵۰,۵۰۰</del>
                            <span>٪۷</span>
                        </div>
                        <div class="price-actual align-self-end">
                            <span class="price">۵۹۰,۵۰۰</span>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                    <div class="similar-commodity w-100 px-2 align-self-center">
                        <hr class="similar-commodity__hr">
                    </div>

                    <div
                        class=" similar-commodity__text  align-self-center  ">
                        کالاهای مشابه
                        <i class="fas fa-chevron-left p-2  "></i>
                    </div>
                </div>
            </a>
        </div>
            <!-- equipment-item5 -->
        <div class="col  px-1">
            <a href="#" class="border-shadow ">
                <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16  ">
                <img src="assets/assets/images/safari3.jpg"
                            class=" align-self-center img-fluid" alt="">
                    <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                        10.4
                        SM-T505 ظرفیت 32
                        گیگابایت
                    </div>

                    <div class="price d-flex flex-column justify-content-around ">
                        <div class="price-off align-self-end ">
                            <del>۵۵۰,۵۰۰</del>
                            <span>٪۷</span>
                        </div>
                        <div class="price-actual align-self-end">
                            <span class="price">۵۹۰,۵۰۰</span>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                    <div class="similar-commodity w-100 px-2 align-self-center">
                        <hr class="similar-commodity__hr">
                    </div>

                    <div
                        class=" similar-commodity__text  align-self-center  ">
                        کالاهای مشابه
                        <i class="fas fa-chevron-left p-2  "></i>
                    </div>
                </div>
            </a>
        </div>
            <!--  equipment-item6-->
            <div class="col  px-1">
                <a href="#" class="border-shadow ">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16 ">
                    <img src="assets/assets/images/safari4.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="similar-commodity w-100 px-2 align-self-center">
                            <hr class="similar-commodity__hr">
                        </div>

                        <div
                            class=" similar-commodity__text  align-self-center  ">
                            کالاهای مشابه
                            <i class="fas fa-chevron-left p-2  "></i>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item7 -->
            <div class="col  px-1">
                <a href="#" class="border-shadow">
                    <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16">
                        <img src="assets/assets/images/safari4.jpg"
                                class=" align-self-center img-fluid" alt="">
                        <div  class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                            10.4
                            SM-T505 ظرفیت 32
                            گیگابایت
                        </div>

                        <div class="price d-flex flex-column justify-content-around ">
                            <div class="price-off align-self-end ">
                                <del>۵۵۰,۵۰۰</del>
                                <span>٪۷</span>
                            </div>
                            <div class="price-actual align-self-end">
                                <span class="price">۵۹۰,۵۰۰</span>
                                <span class="currency">تومان</span>
                            </div>
                        </div>
                        <div class="similar-commodity w-100 px-2 align-self-center">
                            <hr class="similar-commodity__hr">
                        </div>

                        <div
                            class=" similar-commodity__text  align-self-center  ">
                            کالاهای مشابه
                            <i class="fas fa-chevron-left p-2  "></i>
                        </div>
                    </div>
                </a>
            </div>
            <!-- equipment-item8 -->
        <div class="col  px-1">
            <a href="#" class="border-shadow">
                <div class="swipper-item bg-white d-flex flex-column justify-content-between rounded-16">
                    <img src="assets/assets/images/safari4.jpg"
                            class=" align-self-center img-fluid" alt="">
                    <div class=" align-self-center">تبلت سامسونگ مدل Galaxy Tab A7
                        10.4
                        SM-T505 ظرفیت 32
                        گیگابایت
                    </div>

                    <div class="price d-flex flex-column justify-content-around ">
                        <div class="price-off align-self-end ">
                            <del>۵۵۰,۵۰۰</del>
                            <span>٪۷</span>
                        </div>
                        <div class="price-actual align-self-end">
                            <span class="price">۵۹۰,۵۰۰</span>
                            <span class="currency">تومان</span>
                        </div>
                    </div>
                    <div class="similar-commodity w-100 px-2 align-self-center">
                        <hr class="similar-commodity__hr">
                    </div>

                    <div
                        class=" similar-commodity__text  align-self-center  ">
                        کالاهای مشابه
                        <i class="fas fa-chevron-left p-2  "></i>
                    </div>
                </div>
            </a>
        </div>
        </div>
    </div>
    </section>

<!--====== auction-discount=============================== -->
<section class="seleced-Discounts p-3">
    <div class="row ">
        <div class="col-12 ">
            <div class="Discounts-auctions bg-white  border-0 rounded-10 ">
                <div class="px-4 pt-4">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="equip">
                            منتخب محصولات تخفیف و حراج
                        </div>
                        <div class="see-all ps-4">مشاهده همه</div>
                    </div>
                    <div
                        class="row horizontal-line p-1 d-flex flex-row justify-content-center align-items-center">
                        <div class="col-3">
                            <hr style=" color:#fd525d; opacity:1;">

                        </div>
                        <div class="col-9">
                            <hr style=" color:#dfdfdf; opacity:1;">
                        </div>
                    </div>
                </div>
                <div id="carouselExampleInterval10" class="carousel slide position-relative "
                    data-bs-ride="carousel">
                    <div class="carousel-inner px-2">
                        <!-- slide-1 -->
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-commodity d-flex flex-row justify-content-between px-3">
                                <!-- 1 -->
                                <div class="col-3 commodity bg-transparent py-3">
                                    <a href="#" class="pb-3">
                                        <div class="  d-flex flex-column border-0  ">
                                            <div class="commo-pic align-self-center"><img
                                                    src="assets/images/yours-recent/1.jpg" class=" pic-size-in-div "
                                                    alt=""></div>
                                            <div class="describe align-self-center">اسپیکر بلوتوثی قابل حمل
                                                اونتز
                                                مدل Angle 3 Plus</div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text position-relative align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2 position-absolute "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 2 -->
                                <div class="col-3 commodity bg-transparent py-3">
                                    <a href="#" class="pb-3">
                                        <div class=" d-flex flex-column border-0 ">
                                            <div class="commo-pic align-self-center "><img
                                                    src="assets/images/yours-recent/2.jpg" class=" pic-size-in-div"
                                                    alt=""></div>

                                            <div class="describe align-self-center">استند سرو مدل مریم
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text position-relative align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2 position-absolute "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 3 -->
                                <div class="col-3 commodity bg-transparent  py-3">
                                    <a href="#" class="pb-3">
                                        <div class=" d-flex flex-column border-0  ">
                                            <div class="commo-pic align-self-center "><img
                                                    src="assets/images/yours-recent/3.jpg"
                                                    class=" pic-size-in-div img-fluid" alt=""></div>
                                            <div class="describe align-self-center">ساعت هوشمند اپل واچ سری SE
                                                مدل
                                                44mm Aluminum Case
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text position-relative align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2 position-absolute "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 4 -->
                                <div class="col-3 commodity bg-transparent  py-3">
                                    <a href="#" class="pb-3">
                                        <div class=" d-flex flex-column border-0  ">
                                            <div class="commo-pic align-self-center"><img
                                                    src="assets/images/yours-recent/4.jpg"
                                                    class=" pic-size-in-div img-fluid" alt=""></div>
                                            <div class="describe align-self-center">هندزفری بی سیم لیتو مدل LB-5
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2 ">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text position-relative align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2 position-absolute "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div><!-- item-carousel -->
                        <!-- slide-2 -->
                        <div class="carousel-item ">
                            <div class="row row-commodity d-flex flex-row justify-content-between  ">
                                <!-- 1 -->
                                <div class="col-3 commodity bg-transparent py-3  ">
                                    <a href="#" class="pb-3">
                                        <div class="  d-flex flex-column  border-0  ">
                                            <div class="commo-pic align-self-center"><img
                                                    src="assets/images/yours-recent/2.jpg" class=" pic-size-in-div "
                                                    alt=""></div>
                                            <div class="describe align-self-center">ست تیشرت و شلوار بچه گانه
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text position-relative align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2 position-absolute "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 2 -->
                                <div class="col-3 commodity bg-transparent py-3  ">
                                    <a href="#" class="pb-3">
                                        <div class=" d-flex flex-column border-0 ">
                                            <div class="commo-pic align-self-center "><img
                                                    src="assets/images/yours-recent/4.jpg" class=" pic-size-in-div"
                                                    alt=""></div>
                                            <div class="describe align-self-center">ست تیشرت و شلوار بچه گانه
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text position-relative align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2 position-absolute "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 3 -->
                                <div class="col-3 commodity bg-transparent  py-3">
                                    <a href="#" class="pb-3">
                                        <div class=" d-flex flex-column border-0  ">
                                            <div class="commo-pic align-self-center "><img
                                                    src="assets/images/yours-recent/3.jpg"
                                                    class=" pic-size-in-div img-fluid" alt=""></div>
                                            <div class="describe align-self-center">ست تیشرت و شلوار بچه گانه
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" bg-danger similar-commodity__text  d-flex justify-content-center align-self-center  ">
                                            کالاهای مشابه
                                            <i class="fab fa-acquisitions-incorporated me-2"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 4 -->
                                <div class="col-3 commodity bg-transparent  py-3">
                                    <a href="#" class="pb-3">
                                        <div class=" d-flex flex-column border-0  ">
                                            <div class="commo-pic align-self-center"><img
                                                    src="assets/images/yours-recent/1.jpg"
                                                    class=" pic-size-in-div img-fluid" alt=""></div>
                                            <div class="describe align-self-center">ست تیشرت و شلوار بچه گانه
                                            </div>

                                            <div class="equip-price-off align-self-end mt-2 ms-2">
                                                <del>۵۵۰,۵۰۰</del>
                                                <span>٪۲۵</span>
                                            </div>
                                            <div class="equip-price-actual align-self-end ms-2 ">
                                                <span>۱۹,۰۰۰</span>
                                                <span class="equip-font-toman"> <small> تومان</small></span>
                                            </div>
                                            <div class="similar-commodity w-100 px-2 align-self-center">
                                                <hr class="similar-commodity__hr">
                                            </div>

                                            <div
                                                class=" similar-commodity__text  align-self-center  ">
                                                کالاهای مشابه
                                                <i class="fas fa-chevron-left p-2  "></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div><!-- item-carousel -->
                    </div><!-- inner-carousel -->

                    <button class=" carousel-control carousel-control-prev  " type="button"
                        data-bs-target="#carouselExampleInterval10" data-bs-slide="prev">
                        <span> <i class="fas fa-chevron-right"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control carousel-control-next" type="button"
                        data-bs-target="#carouselExampleInterval10" data-bs-slide="next">
                        <span> <i class="fas fa-chevron-left"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div> <!-- carousel -->
            </div>

        </div>
    </div>
</section>