<app-gif-banner></app-gif-banner>
<app-slider></app-slider>
<app-amazing-offer></app-amazing-offer>
<app-four-advertise></app-four-advertise>
<app-amazing-supermarket-offer></app-amazing-supermarket-offer>
<app-two-advertise></app-two-advertise>
<div class="row gx-0">
    <div class="col-10">
        <app-base-visited-mountaineering-accessories></app-base-visited-mountaineering-accessories>
    </div>
    <div class="col-2 d-none d-lg-block">
        <app-instant-suggestions></app-instant-suggestions>
    </div>
</div>
<app-more-categoty></app-more-categoty>
<div class="row gx-0 p-3">
    <div class="col-3 d-none d-lg-block">
        <app-personalization></app-personalization>
    </div>
    <div class="col-9 ">
        <app-base-visited-bag-and-phone></app-base-visited-bag-and-phone>
    </div>
</div>
<app-four-advertise></app-four-advertise>
<app-base-visited-handsfree></app-base-visited-handsfree>
<app-base-visited-laptop></app-base-visited-laptop>
<app-two-advertise></app-two-advertise>
<app-recent-popular></app-recent-popular>
<app-brands></app-brands>
<app-ad-banner></app-ad-banner>>
<app-auction-discount></app-auction-discount>