<!-- ----------------------footer------------------------------- -->
<footer>
    <div class="container-fluid">
        <section class=" footer-contaier p-3 ">

            <!-- section-1 -->
            <div class="d-flex flex-row justify-content-between p-2">
                <div class="logo">
                    <img src="assets/assets/images/footer/logo.jpg" alt="">
                </div>
                <div class="back-to-top ">
                    <button class=" bg-transparent">
                        بازگشت به بالا
                        <i class="fas fa-chevron-up ms-3"></i></button>
                </div>
            </div>
            <!-- section-2 -->
            <div class="contact-us p-2  row  ">
                <div class=" d-flex justify-content-between col-lg-6 ">
                    <span href="" class="  ">
                        تلفن پشتیبانی:
                    </span>

                    <a href=" " class="phone-number">
                        ۶۱۹۳۰۰۰۰ - ۰۲۱
                    </a>
                    <div class="vr " style="color: #969699;"></div>
                    <a href="" class=" phone-number">
                        ۶۲۹۹۹۹۱۱ - ۰۲۱
                    </a>
                    <div class="vr d-none d-lg-block" style="color: #969699;"></div>
                </div>

                <span class="col-lg-6"> هفت روز هفته، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
            </div>
            <!-- section-3 -->
            <section class="row  originality d-flex flex-row justify-content-center pt-4">
                <div class="col text-center pt-3">
                    <img src="assets/images/footer/footer-icon55.svg" alt="امکان تحویل اکسپرس">
                    <p>امکان تحویل اکسپرس</p>
                </div>
                <div class="col text-center pt-3">
                    <img src="assets/images/footer/footer-icon44.svg" alt="امکان پرداخت در محل">
                    <p>امکان پرداخت در محل</p>
                </div>
                <div class="col text-center pt-3">
                    <img src="assets/images/footer/footer-icon33.svg" alt="هفت روز هفته‌۲۴ ساعته">
                    <p>هفت روز هفته‌۲۴ ساعته</p>
                </div>
                <div class="col text-center pt-3">
                    <img src="assets/images/footer/footer-icon22.svg" alt="۷ روز ضمانت بازگشت کالا">
                    <p>۷ روز ضمانت بازگشت کالا</p>
                </div>
                <div class="col text-center pt-3">
                    <img src="assets/images/footer/footer-icon11.svg" alt="ضمانت اصل بودن کالا">
                    <p>ضمانت اصل بودن کالا</p>
                </div>
                <div class=" px-4">
                    <hr>
                </div>
            </section>
            <!-- section-4 -->
            <section class="row column-container d-flex p-2">
                <div class="col-lg-8 text-center ">
                    <div class="row">
                        <div class="col-lg-4 col-6 footer-item with-dj">
                            <p>با دیجی کالا</p>
                            <ul>
                                <li><a href="#">اتاق خبر دیجی کالا</a></li>
                                <li><a href="#">فروش در دیجی کالا</a></li>
                                <li><a href="#">فرصت های شغلی</a></li>
                                <li><a href="#">تماس با دیجی کالا</a></li>
                                <li><a href="#"> درباره دیجی کالا</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6 footer-item customer-service">
                            <p> خدمات مشتریان </p>
                            <ul>
                                <li><a href="#">پاسخ به پرسشهای متداول</a></li>
                                <li><a href="#"> رویه های باز گرداندن کالا</a></li>
                                <li><a href="#"> شرایط استفاده </a></li>
                                <li><a href="#"> حریم خصوصی</a></li>
                                <li><a href="#"> گزارش باگ </a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 footer-item guid-buy d-none d-lg-block">
                            <p>راهنمای خرید از دیجی کالا</p>
                            <ul>
                                <li><a href="#"> نحوه ثبت سفارش</a></li>
                                <li><a href="#"> رویه ی ارسال سفارش </a></li>
                                <li><a href="#"> شیوه های پرداخت </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center social">
                    <p> با ما همراه باشید</p>

                    <a href="#"><i class="fab fa-instagram  mx-3"></i></a>
                    <a href="#"><i class="fab fa-twitter mx-3 "></i></a>
                    <a href="#"><i class="fab fa-linkedin mx-3"></i></a>
                    <a href="#"><img src="assets/images/aparat3.png" class="mx-3 mb-1" width="30px" height="30px"
                            alt=""></a>
                    <div class="newest-auction">
                        <p class=""> از جدیدترین تخفیفها با خبر شوید </p>
                        <form action="">
                            <input type="text" placeholder="آدرس ایمیل خود را وارد کنید" class="me-2">
                            <input type="submit" value="ثبت">

                        </form>
                    </div>
                </div>
            </section>
            <!-- section-5 -->
            <div class="row align-items-center download-app m-1">
                <div class="col-lg-4 download-app__logo">
                    <a href="" class="ps-2 ">
                        <img src="assets/images/footer/app-icon.svg" alt="">
                        <span>دانلود اپلیکیشن دیجیکالا</span>
                    </a>
                </div>
                <div class="col-lg-8 download-apps">
                    <div class="container-fluid d-flex justify-content-end row g-0 ">
                        <a href="" class="col-auto"><img src="assets/images/footer/google-play.svg" alt=""></a>
                        <a href="" class="col-auto"><img src="assets/images/footer/bazar-app.svg" alt=""></a>
                        <a href="" class="col-auto"><img src="assets/images/footer/myket.png" alt=""></a>
                        <a href="" class="col-auto"><img src="assets/images/footer/bazar-app.svg" alt=""></a>
                        <a href="" class="col-auto"> <button><i class="fas fa-ellipsis-h"></i></button> </a>
                    </div>
                </div>
            </div>
            <!-- section-6 -->
            <div class=" row about-diji mt-4">
                <div class="col-8 ">
                    <p class=" about-diji__text-title">فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین</p>
                    <p class=" about-diji__text">دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک
                        دهه تجربه، با پایبندی به سه اصل، پرداخت در محل، ۷ روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا
                        موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود. به
                        محض ورود به سایت دیجی‌کالا با دنیایی از کالا رو به رو می‌شوید! هر آنچه که نیاز دارید و به ذهن
                        شما خطور می‌کند در اینجا پیدا خواهید کرد.</p>
                    <a href="" class="about-diji__see-more">مشاهده بیشتر <i class="bi bi-chevron-left m-1"></i></a>
                    <a href="" class="about-diji__see-more d-none"> بستن <i class="bi bi-chevron-left m-1"></i></a>
                </div>
                <div class="col-4 symbols d-flex justify-content-around pt-3">
                    <a href=""><img src="assets/images/footer/samandehi.png" alt="samandehi"></a>
                    <a href=""><img src="assets/images/footer/member.png" alt="member"></a>
                    <a href=""><img src="assets/images/footer/inamad.png" alt="member"></a>
                </div>
            </div>
            <hr>
            <!-- section-7 -->
            <div class="row align-items-center justify-content-center">
                <div class="col-12 copy-right text-center">
                    استفاده از مطالب فروشگاه اینترنتی دیجی&zwnj;کالا فقط برای مقاصد غیرتجاری و با ذکر منبع
                    بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی&zwnj;کالا)
                    می&zwnj;باشد.
                </div>

            </div>
        </section>
        <!-- section-8 -->
        <div class="row brands-apps g-0 ">

            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijiclub (2).svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijiexpress.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijikalajet.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijikalamehr.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijiplus.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijistyle.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dikikalaaffiliate.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/edibo.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/comoda.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/dijikalamag.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/pindo.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/diginext.svg"
                        class="img-fluid" alt="samandehi"></a></div>
            <div class="col"><a href="" class="barnds-apps__link "><img src="assets/images/footer/edibo.svg"
                        class="img-fluid" alt="samandehi"></a></div>


        </div>
    </div>
</footer>